<!doctype html>

<html lang=“en-us”>
	<head>
		<!-- Meta Information -->
    <link rel="stylesheet" href="/style.css">
    <title>Global Cuisine Database</title>
	</head>
	
	<body>
    <h1>Country Food Database</h1>
        <p>Please choose an option below</p>

        <div class="nav-container">
          <a href="/upload" class="nav-button">Add a New Country</a>
          <a href="/list" class="nav-button">See All Countries</a>
          <a href="/query" class="nav-button">Search for a Country</a>
        </div>

        

  </body>

</html>
