<h1>Enter a country name to see a food that represents it</h1>
<div id="queryForm">
	<input type="text" id="countrySearch" placeholder="e.g. Thailand">
	<button onclick="runQuery()">Search</button>
	<div id="results"></div>
</div>


<a href="/" class="nav-button">Home Page</a>
<script src="/script.js"></script>