  <form id="countryForm">
    Country: <input type="text" name="country_name" id="country_name"><br>
    Region: <input type="text" name="region" id="region"><br>
    Food: <input type="text" name="country_food" id="country_food"><br>
    GDP: <input type="number" name="GDP" id="GDP"><br>
    Population: <input type="number" name="population" id="population"><br>
    Visited: <input type="checkbox" name="visited" id="visited" value="true"><br>
    
    <button type="button" onclick="submitData()">Submit</button>
</form>
<a href="/" class="nav-button">Home Page</a>
  <script src="/script.js"></script>